* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    text-align: center;
    background-color: #FFF;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.error-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
}

.error-message {
    color: #E74C3C;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.redirect-message {
    font-size: 1.5rem;
    font-weight: bold;
    color: #E74C3C;
}